DataAccess/bin/Debug/net5.0/Dapper.dll
DataAccess/bin/Debug/net5.0/DataAccess
DataAccess/bin/Debug/net5.0/DataAccess.deps.json
DataAccess/bin/Debug/net5.0/DataAccess.dll
DataAccess/bin/Debug/net5.0/DataAccess.pdb
DataAccess/bin/Debug/net5.0/DataAccess.runtimeconfig.dev.json
DataAccess/bin/Debug/net5.0/DataAccess.runtimeconfig.json
DataAccess/bin/Debug/net5.0/ref/DataAccess.dll
DataAccess/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DataAccess/obj/Debug/net5.0/apphost
DataAccess/obj/Debug/net5.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net5.0/DataAccess.AssemblyInfoInputs.cache
DataAccess/obj/Debug/net5.0/DataAccess.assets.cache
DataAccess/obj/Debug/net5.0/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/net5.0/DataAccess.csproj.CopyComplete
DataAccess/obj/Debug/net5.0/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/net5.0/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/net5.0/DataAccess.dll
DataAccess/obj/Debug/net5.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/Debug/net5.0/DataAccess.genruntimeconfig.cache
DataAccess/obj/Debug/net5.0/DataAccess.pdb
DataAccess/obj/Debug/net5.0/ref/DataAccess.dll
